.row
  %h2.pull-left Doctor List
  = link_to 'Edit default schedule', agencies_calendars_path, :class => 'btn btn-default pull-right edit-default-schedule'
  / = form_tag({controller: 'doctors', action: 'index'}, method: 'get') do
  /   = search_field_tag :query, params[:query], placeholder: 'input filter', class: 'search-doctor-field pull-right'

.row.doctor-management
  %table.table.table-hover{:border => 2}
    %thead
      %tr
        %th #
        %th{ class: "#{ params[:sort] == 'name' && params[:sort_direction] == 'asc' ? 'dropup' : '' }" }
          = link_to "Name", sort: 'name', sort_direction: params[:sort] == 'name' ? params[:sort_direction] : 'desc', query: params[:query]
          %span.caret
        %th{ class: "#{ params[:sort] == 'created_at' && params[:sort_direction] == 'asc' ? 'dropup' : '' }" }
          = link_to "Registration Date", sort: 'created_at', sort_direction: params[:sort] == 'created_at' ? params[:sort_direction] : 'desc', query: params[:query]
          %span.caret
        %th{ class: "#{ params[:sort] == 'status' && params[:sort_direction] == 'asc' ? 'dropup' : '' }" }
          = link_to "Status of Validation", sort: 'status', sort_direction: params[:sort] == 'status' ? params[:sort_direction] : 'desc', query: params[:query]
        %th{ class: "#{ params[:sort] == 'status' && params[:sort_direction] == 'asc' ? 'dropup' : '' }" }
          = link_to "Last schedule update", sort: 'last_schedule_update', sort_direction: params[:sort] == 'last_schedule_update' ? params[:sort_direction] : 'desc', query: params[:query]
          %span.caret
        %th{ :width => '120px' }
          Action
    %tbody
      - @doctor_list.each_with_index do |doctor, index|
        %tr{ class: "#{ index.odd? ? 'even' : 'odd' }" }
          %td= index + 1
          %td= doctor.name
          %td= doctor.created_at
          %td= doctor.status
          %td= doctor.try(:last_schedule_update)
          %td
            .btn-group.btn-group-sm
              = #link_to 'Edit', "/agencies/calendars/#{doctor.id}/calendar_of_doctor", :class => 'btn btn-default'
              = link_to 'Edit', "/agencies/calendars/#{doctor.id}/custom_schedules_of_doctor"
